html, body{
    height: 100%;
    margin: 0;
}

#root-window{
    height: 100%;
}

#render-target {
    position: absolute;
    height: 100%;
}

#ui-toolbar {
    position: absolute;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
    max-width: 150px; /* 최대 너비를 150px로 제한 */
    height: 100vh;
    padding: 16px;
    background-color: #00000033;
    display: flex; /* 플렉스 컨테이너로 설정하여 자식 요소를 가로로 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
}

.ui-button {
    background-color: #00000055;
    border: 1px solid black;
    color: lightgray;
    height: 40px;
    width: 100%;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    transition: background-color 0.3s; /* 배경 색상 전환에 애니메이션 효과 추가 */
}

.ui-button.selected {
    background-color: #9f3d3d55;
}

.ui-button:not(.selected):hover {
    background-color: #33333355;
}

