html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#root-window{
    height: 100%;
}

#render-target {
    position: absolute;
    height: 100%;
}

#ui-toolbar {
    position: absolute;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
    max-width: 150px; /* 최대 너비를 150px로 제한 */
    height: 100vh;
    padding: 16px;
    background-color: #00000033;
    display: flex; /* 플렉스 컨테이너로 설정하여 자식 요소를 가로로 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
}

#info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c; /* 빨간색 배경 */
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif; /* Poppins 글꼴 적용 */
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 센치한 그림자 효과 */
    max-width: 300px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.ui-button {
    background-color: #00000055;
    border: 1px solid black;
    color: lightgray;
    height: 40px;
    width: 100%;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    transition: background-color 0.3s; /* 배경 색상 전환에 애니메이션 효과 추가 */
}

.ui-button.selected {
    background-color: #9f3d3d55;
}

.ui-button:not(.selected):hover {
    background-color: #33333355;
}

/* 버튼 스타일 */
#button-container {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
}

#button-container button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#start-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    bottom: 5%;
    left: 48%;
    display: flex;
    z-index: 1;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    #info {
        right: 5px; /* 화면이 작을 때 오른쪽 여백 축소 */
        max-width: none; /* 화면이 작을 때 최대 너비 제거 */
    }
}